.header
  button.signup Log in
  button.logout Log out

.body  
  button.single_event Show event
  button.all_events All events
  button.create_event Create Event
  button.update_event Update Event
  button.destroy_event Destroy Event